 *{
    box-sizing: border-box;
    font-family: poppins;
 }
 .nav-link{
   color:#14A44D;
 }
 header{
    background-color: #111 !important;
    color: white !important;
    margin-bottom: 10px;
    margin-top: auto;
    color: #14A44D;
    
 }
 .nav-link:hover{
   color: white !important;
   text-decoration: underline;
 }
 
 body{
    background-color: #111;
    color: #9f9f9f;
 }
 .card{
    background-color: #0d0c0c;
    box-shadow: #1a1919;
    color: #9f9f9f;
 }
 .about-team{
    display: flex;
    justify-content: space-around;
 }
 .about-section4 .card{
    padding: 7px;
 }
 .about-team img{
    border-radius: 100%;
 }
 button{
    padding: 10px;
    border: 1px solid #067106;
    border-radius: 15px;
    color: white;
    
 }
 .about-section2 .card:hover{
    border-bottom:3px solid #067106;
    
 }
 .blog-section1 p,.blog-section1 h3 {
   padding: 5px;
   margin-top:10px ;

 }
 .blog-section1 h3{
    color: white;
 }
 .blog-section1 h3{
    font-size: 20px;
    margin: 3px;
 }
 .blog-section1 p{
    font-size: 15px;
 }
 .blog-section1 img{
    border-radius: 7px;
    width: 100%;
 }
 /* CONTACT SECTION */
 .contact-section1 input, textarea{
   background-color: #0d0c0c;
   border: none;
   margin: 8px;
   outline: none;
   padding: 9px;
   width: 100%;
   color: white;
   
 }
 .contact-bigger{
   width: 80%;
   margin: 4px;
 }
 .contact-smaller{
   width: 20%;
 }
 .subject, textarea{
    width: 100% !important;
 }
 /* portfolio section */
 .portfolio-section1 ul  {
display: flex;
justify-content: center;
 }
 .portfolio-section1 li{
    margin: 5px;
    list-style-type: none;
 }
 .portfolio-section1 li a{
    text-decoration: none;
    color: white;
 }
 .portfolio-section1 li a:hover{
    text-decoration: underline #14A44D;
    color: #14A44D;
 }
 .first{
    color: green !important;
    text-decoration: underline green;
 }
 .moving-icon{
   position: absolute;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: style;
    
 }
 @keyframes style {
    0%{left:45%;}
    100%{left:47%;}
 }
 .block{
   color: #111;
 }
 

.slide-container {
   transition: transform 0.5s ease;
background-color: transparent !important;
display: flex;
justify-content: right;
}

.slide-button {
   padding: 20px 30px;
   cursor: pointer;
   display: flex;
   justify-content: right;
   position: fixed;
}
/* Style for the preloader container */
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999; 
}

.loader {
   border: 4px solid #f3f3f3;
   border-top: 4px solid gray;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 2s linear infinite; 
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg);}
}
/* resume section */
.Resume-items{

   border-left:3px solid #067106 !important;
   margin: 10px;
   background-color: #0d0c0c;
}
.resume-section1  .div{
   padding: 10px;
   text-align: justify;
   margin-right: 10px;
}
.progress{
   height: 10px;
}
h1{
   font-weight: bold;
}
.video-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
}



.image-container {
   position: relative;
   width: 100%; 
   height: 100%;
}


.image-container img {
   width: 100%;
   height: auto;
}


.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #15141480; 
   opacity: 0; 
   transition: opacity 0.5s; 
   display: flex;
   justify-content: center;
   align-items: center;
}


.text {
   color: white;
   font-size: 28px;
   text-align: center;
   position: absolute;

}
.text p{
   font-size: 20px;
   font-weight: bold;
   color: white !important;
}


.image-container:hover .overlay {
   opacity: 1; 
}

.together{
   display: flex;
   margin: 0;
   padding: 0;
}
.name{
   margin-top: 15% !important;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}





 